.dixson{
    background: url(../covers/dixson.jpg);
    background-size: cover;
    background-position: 50%;
}

.destinationB2{
    background: url(../covers/destination-b2.jpg);
    background-size: cover;
}

.words1100{
    background: url(../covers/1100.jpg);
    background-size: cover;
    background-position: 50% 38%;
}

.bj-yl{
    background: url(../covers/bj-yellow.jpg);
    background-size: cover;
    background-position: 50% 20%;
}

.collageEssays{
    background: url(../covers/collage-essays.jpg);
    background-size: cover;
    background-position: 50% 20%;
}