header{
    width: 100%;
    height: 130px;
    background-color: rgba(255,255,255,75%);
    backdrop-filter: blur(50px);
    position: fixed;
    z-index: 1;
}

[data-theme="dark"] header{
    background-color: rgb(15 15 15 / 75%);
    transition: 0.3s;
}

.space{
    height: 130px;
}

.container{
    width: 1700px;
    margin: auto;
}

.logo{
    height: 35px;
    width: auto;
    margin-top: 44px;
}

.dark-mode {
    float: right;
    margin-top: 36px;
    width: 55px;
    height: 55px;
    background: url(../icons/icon\ dark\ mode.svg) #0000000f;
    background-position: 50%, 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 40px;
    border-radius: 15px;
}

#darkSwitch {
    width: 55px;
    height: 55px;
    opacity: 0;
    cursor: pointer;
}

.contact{
    font-family: 'Main';
    font-weight: 800;
    text-decoration: none;
    color: black;
    opacity: 0.4;
    float: right;
    line-height: 124px;
    font-size: 30px;
}

.contact:hover{
    opacity: 0.6;
    transition: 0.3s;
}

[data-theme="dark"] .contact{
    color: white;
    transition: 0.3s;
}

.search{
    margin-left: 90px;
    width: 1050px;
    height: 55px;
    border-radius: 15px;
    border: none;
    background: url(../icons/icon\ search.svg) #0000000f;
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    font-family: 'Main', sans-serif;
    padding-left: 60px;
    padding-right: 20px;
    position: absolute;
    top: 36px;
}

[data-theme="dark"] .dark-mode{
    background: url(../icons/icon\ light\ mode.svg) #6868682e;
    transition: 0.3s;
}

[data-theme="dark"] .search{
    opacity: 0.8;
    filter: invert(1);
    transition: 0.3s;
}

ul{
    padding: 0;
}

li{
    display: inline-block;
}

li a{
    display: none;
}

.pdfBox{
    width: 400px;
    height: 495px;
    background: #EAEAEA;
    border-radius: 25px;
    padding-top: 30px;
}

[data-theme="dark"] .pdfBox{
    background: #eaeaea12;
    transition: 0.3s;
}

.cover{
    width: 345px;
    height: 345px;
    background: red;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.pdfBox button{
    cursor: pointer;
    background: linear-gradient(50deg, #FF0B3A, #FFAD08);
    background-repeat: no-repeat;
    background-position: 37% 51%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    transition: 0.5s;
    width: 345px;
    height: 85px;
    border-radius: 15px;
    border: none;
    font-family: 'Main', sans-serif;
    margin-top: 30px;
    margin-left: 30px;
}

[data-theme="dark"] .pdfBox button{
    opacity: 0.85;
    transition: 0.3s;
}

li:not(:last-child){
    margin-right: 29px;
}

.collumn{
    margin-bottom: 35px;
}

@media only screen and (max-width: 1750px){
    header, .space{
        height: 100px;
    }
    .logo{
        margin-top: 30px;
    }
    .container {
        width: 1500px;
    }
    .search{
        width: 850px;
        top: 20px;
    }
    .dark-mode{
        margin-top: 20px;
    }
    .contact{
        line-height: 95px;
    }
    .pdfBox {
        width: 350px;
        height: 445px;
    }
    .cover {
        width: 295px;
        height: 295px;
    }
    .pdfBox button{
        width: 295px;
    }
    li:not(:last-child) {
        margin-right: 29.3px;
    }
}

@media only screen and (max-width: 1550px){
    .container {
        width: 1130px;
    }
    header, .space {
        height: 80px;
    }
    .logo {
        height: 25px;
        margin-top: 28px;
    }
    .search {
        margin-left: 55px;
        height: 40px;
        width: 650px;
        border-radius: 10px;
    }
    .dark-mode, #darkSwitch{
        height: 40px;
        width: 40px;
        border-radius: 10px;
        margin-right: 25px;
    }
    .contact {
        font-size: 22px;
        line-height: 80px;
    }
    .pdfBox {
        width: 270px;
        height: 360px;
        padding-top: 15px;
    }
    .cover {
        width: 245px;
        height: 245px;
    }
    .pdfBox button {
        width: 245px;
        font-size: 22px;
        margin-top: 14px;
        margin-left: 14px;
    }
    li:not(:last-child) {
        margin-right: 12px;
    }
    .collumn {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1150px){
    .container {
        width: 700px;
    }
    header, .space {
        height: 120px;
    }
    .search {
        margin-left: 0;
        width: 614px;
        height: 45px;
        top: 60px;
        display: block;
        border-radius: 12px;
        padding-left: 50px;
    }
    .pdfBox {
        width: 330px;
        height: 420px;
        margin-bottom: 22px;
    }
    .cover {
        width: 305px;
        height: 305px;
    }
    .pdfBox button {
        width: 305px;
    }
    li:not(:last-child) {
        margin-right: 18px;
    }
    .collumn {
        margin-bottom: 0px;
    }
    .logo{
        margin-top: 20px;
    }
    .dark-mode {
        margin-top: 10px;
    }
    .contact {
        line-height: 60px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 750px){
    .container{
        width: 300px;
    }
    .logo {
        height: 25px;
        margin-top: 25px;
    }
    .search {
        margin-left: 0;
        width: 230px;
        height: 45px;
        top: 75px;
        display: block;
        border-radius: 12px;
        padding-left: 50px;
    }
    .contact{
        display: none;
    }
    .dark-mode, #darkSwitch{
        width: 40px;
        height: 40px;
        margin-right: 0;
        border-radius: 12px;
        margin-top: 18px;
        margin-left: 15px;
    }
    #darkSwitch{
        margin: 0;
    }
    li:not(:last-child) {
        margin-right: 0px;
    }
    .pdfBox {
        width: 300px;
        height: 380px;
        margin-bottom: 20px;
        padding-top: 22px;
    }
    .cover {
        width: 265px;
        height: 265px;
    }
    .pdfBox button{
        width: 265px;
        margin-left: 17px;
        height: 65px;
        font-size: 22px;
        margin-top: 22px;
    }
    header, .space{
        height: 140px;
    }
}